body {
  background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTtiy65CMJlZDvtCEACXV-i2bkMZSWnoaMMZCd75BR0AC1VzO25") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #1A3A4D;
  font-family: 'Merienda', cursive;
  color: white;
}

.left {
  margin-right : 20%;
  width : 150px;
  height : 100px;
  color : white !important ;
  font-family: 'Merienda', cursive;
  font-size: 25px;
  text-shadow: 0 0 2px #e1eef7, 0 0 2px #cbd5db;
  list-style-type: none; /* Remove list bullets */
  box-sizing: border-box;
  margin-left: 15px;
}

.right {
  margin-left: 33%;

  height: 100px;
  color: white !important;
}

.box {
  background-color: #bac5db;
  display: flex;
  justify-content: space-around;
  width: 850px;
  height: 300px;
  margin: 0 auto;
}

.office, div, .contact {
    margin-left: 20px;
    margin-right: 20px;
    color: #333333;
    font-size: 14px;
    line-height: 25.2px;
}

h3 {
  font-style: bold;
}

li {
  list-style-type: none;
}

a:link {
  color: white !important;
  font-family: 'Rock Salt', cursive;
  font-size: 20px;
}

a:visited {
      color: white !important;
}

h1 h2 h3 h4 a p .right {
  color: white !important;
  font-family: 'Rock Salt', cursive;
}

button {
  background-color: #4D4D4D; /* Blue Gray*/
  border: none;
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin: 0;
  width: 100px;
  padding: 2px 9px;
  text-decoration: none;
  display: inline-block;
}

  @media screen and (max-device-width: 730px)

    {
    /* For mobile phones: */

    body {
      background-color: #33A8DD;
      background-image: linear-gradient(right);
      background: linear-gradient(to right, #33A8DD , #bac5db);
      max-width: 100%;
      width: 100%;
      height: auto !important;
    }

    .box {
      color: white;
      column-count: 1;
        column-rule: none;
        width: 150;
    }



    .right {
      width: 100%;
    }



@media screen and (max-width: 1024px) {
      /* For tablets: */

      body {
        background-color: #33A8DD;
        background-image: linear-gradient(right);
        background: linear-gradient(to right, #33A8DD , #bac5db);
        max-width: 100%;
        width: 100%;
        height: auto !important;
      }

        .box {
          flex-direction: column;
          align-items, align-self
          column-count: 1 !important;
          column-rule: none;
          width: 100%;

        }

        .row {
          column-count: 1;
          column-rule: none;
          width: 750px;}


        .left .office .contact .media .row {
          width: 100%;
          column-count: 1;
          column-rule: none;
          width: 750px;}

        .right {
          width: 100%;
        }

    }
